.gamepage {
    @extend %flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: -100%;
    transition: left 0.5s ease-in-out;

    &--open {
        left: 0;
    }
}