.gamepage {
    @extend %flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: -100%;
    transition: left 0.5s ease-in-out;

    &--open {
        left: 0;
    }

    &__error {
        font-size: 1.5rem;
        color: $primary;
        text-align: center;
    }

    &__question {
        font-size: 1.825rem;
        font-weight: 700;
    }

    &__choice {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px;
    }

    &__answer {
        padding: 10px;
        font-size: 1.125rem;
        font-weight: 700;
        color: $white;
        background-color: transparent;
        border: 2px solid $white;
        border-radius: 10px;
    }

    &__btn {
        font-size: 1.5rem;
        
        &--hide {
            opacity: 0;
            pointer-events: none;
        }
    }
}