.slide-out {
    transform: translateY(0);
    transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);

    &--active {
        transform: translateY(-500px);
    }
}

.startpage {
    position: relative;

    &__content {
        height: 50vh;
        min-height: 400px;
        @extend %flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__main-title {
        margin-top: 30px;
        max-width: 300px;
        font-size: 3rem;
    }

    &__instr {
        text-align: center;
        font-size: 0.875rem;
        transition-delay: 0.1s;
    }

    &__play-btn {
        margin-top: 15px;
        font-size: 1.75rem;
        transition-delay: 0.2s;
    }

    @include breakpoint {

        &__main-title {
            margin: 0 auto;
            max-width: 600px;
            font-size: 5rem;
            text-align: center;           
        }
    }
}